body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: green;
}
header{
    background: yellowgreen;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 2em;
    color: white;

}

nav{
    background: yellow;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.content{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.area-articulos{
    flex: 2;
    width: 75%;
    margin-top: 20px;
}

article{
    background: yellowgreen;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 3px dashed;

}

footer{
    background-color: rgb(255, 234, 99);
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;

}

h2, h3 {
    margin-top: 0;
    padding: 20px;
    margin: 8px;
    background: yellow;
    border-radius: 30px;
    font-size: 2em;
    text-align: center;

}

.caja{
    background: yellowgreen;
    padding: 10px;
    margin: 8px ;
    border-radius: 8px;
    border:  solid #000000;
}


/*ORDENADOR 16:9 (Pantallas grandes)*/
@media (min-width: 1400px) {
    body {
        font-size: 18px;
    }
    nav {
        font-size: 1.2em;
    }
}

/*Tablets o portatil pequeños */
@media (min-width: 900px){
    .content {
        flex-direction: column;
    }
    aside{
        width: 100%;
    }
}
/* PRUEBAS DE JUSTIFICACIÓN (solo una debe estar activa)/*

            /* justify-content: center; /* CENTRA los elementos horizontalmente */

            /* justify-content: flex-start;  <!-- Alinea los elementos a la izquierda --> */

            /* justify-content: flex-end;  <!-- Alinea los elementos a la derecha --> */

            /* justify-content: space-between; <!-- Deja el máximo espacio posible entre los elementos --> */

            /* justify-content: space-around; <!-- Espacio equilibrado alrededor de cada elemento --> */

            /* justify-content: space-evenly; <!-- Espacio igual entre todos los elementos --> */
            
            /*  PRUEBAS DE ALINEACIÓN VERTICAL */

            /*align-items: center; /* Centra los elementos verticalmente */
            
            /* align-items: flex-start;  <!-- Los pone alineados arriba --> */

            /* align-items: flex-end;  <!-- Los coloca alineados abajo --> */

            /* align-items: stretch;  <!-- Estira los elementos para llenar el contenedor verticalmente --> */

            /* align-items: baseline; <!-- Alinea según la línea base del texto --> */


            /* OTRAS PROPIEDADES FLEX PROBADAS*/

            /* flex-wrap: wrap; <!-- Permite que los elementos bajen a otra línea si no caben --> */

            /* flex-direction: column; <!-- Coloca los elementos en una columna en vez de fila --> */


/*Smartphones */
@media (max-width: 600px) {
    header{
        font-size: 1.4em;
        padding: 20px;
    }
    nav{
        font-size: 1em;

    }
    .content{
        flex-direction: column;
    }

    article{
        padding: 15px;
    }

    .caja{
        font-size: 1em;
    }
}